#container{
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.taskLabel{
  width:100%;
  padding: 0px 5px;
}

.task, #newTask{
  border: 1px solid black;
  border-radius: 5px;

  background-color: rgb(245, 245, 250);

  padding: 8px;
  margin: 6px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button{

}

